.clickableChore:hover{
    background-color: cornflowerblue;
}

.checkedChoreListElement{
    background-color: greenyellow;
}
.overdueChoreListElement{
    background-color: orangered;
}

#addTodoGlyphicon {
    padding: 0;
}

.cOutCol {
    padding: 0;
}

#choresMainContainer {
    padding-left: 2.0vh;
    padding-right: 2.0vh;
}

.choreDisc {
    font-weight: bold;
}

.infoTabel td:hover, .infoTabel tr:hover {
    background-color: rgba(0,0,0,0);
}

.infoTabel {
    width: 100%
}