#addTodoGlyphicon {
    padding: 0;
}

.cOutCol {
    padding: 0;
}

#choresMainContainer {
    padding-left: 2.0vh;
    padding-right: 2.0vh;
}

.choreDisc {
    font-weight: bold;
}

.infoTabel td:hover, .infoTabel tr:hover {
    background-color: rgba(0,0,0,0);
}

.infoTabel {
    width: 100%
}

.C {
    min-height: 80vh !important;
    max-height: 80vh !important;
    padding: 0;
}

#householdChoresTab, #yourChoresTab {
    padding: 0;
}

.choreTab {
    width: 50%;
    text-align: center;
    padding: 2px;
}

.choreTab {
    width: 50%;
    text-align: center;
}

.C .nav-tabs>li.active>a, .C .nav-tabs>li.active>a:focus, .C .nav-tabs>li.active>a:hover {
    color: black;
    cursor: default;
    background-color: rgba(19, 66, 2, 0.1) !important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.C .nav-tabs>li>a:hover{
    color: black;
    background-color: rgba(19, 66, 2, 0.05) !important;
}

#choresLeftUpperPanelHeading:hover, #choresRightUpperPanelHeading:hover {
    background-color: rgba(19, 66, 2, 0.3) !important;
}

.clickableChore:hover{
    cursor: pointer;
}

.checkedChoreListElement, .checkedChoreListElement:hover{
    background-color: rgba(19, 66, 2, 0.25) !important;
    cursor: pointer;
}

.overdueChoreListElement, .overdueChoreListElement:hover{
    background-color: rgba(145, 0, 0, 0.2) !important;
    cursor: pointer;
}

.missingChoreInput{
    background-color: tomato;
}

.clickableChore:hover {
    background-color: rgba(19, 66, 2, 0.05);
}