body {
    background-color: #e9ebee;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#logo {
    width: 100%;
    height: auto;
}

.footer, #mainpage{
    text-align: center;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

ul {
    width: auto;
    padding: 5px;
    margin: 0px auto;
    text-align: center;
}

li {
    display: inline;
    margin: 0px 3px;
}

.boxes {
    width: 100%;
    margin: 5px;
    padding: 5px;
}
.title {
    margin: 5px;
    padding: 5px;
}
#forgot {
    text-align: center;
}


