body {
    background-color: #eee;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page {
    min-width: 320px;
    max-width: 920px;
    margin: 10px auto;
}

header {
    border: 1px solid #0f0f0f;
    padding: 10px auto;
}

#logo {
    border: 1px solid #0f0f0f;
    max-width: 720px;
    min-width: 280px;
    text-align: center;
}

figure