#profile_pic_img{
    max-width:10vw;
    position: center;
    margin-bottom: 15px;
}

.navbar {
    border-radius: 0;!important;
}

.navbar, a.navbar-brand {
    background-color: #233237;
    border-color: #233237;
    color: white;
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    border-radius: 0;
}

#spacerButton:hover {
    background-color: #00415a;
}


.page-wrapper{
    transition: 0.2s;
}

#fancyLogoId420BlazeIt {
    display: none;
}

#currentHouseholdId, #logoutId, #myPageId, #expandSidebarButtonId, #notifyBellId {
    color: white;
    font-size: 17px;
    cursor: pointer;
}

#notifyBellId {
    margin-top: 4px;
}

#currentHouseholdId:hover, #logoutId:hover, #myPageId:hover {
    cursor: pointer;
    background-color: #162B32;
}

#expandSidebarButtonId:hover {
    cursor: pointer;
}

.img-circle {
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 20px;
}
.img-pic {
    min-height: 40px;
    min-width: 100%;
}
th, td {
    border-bottom: 1px solid #ddd;
    height: 50px;
    padding: 10px;
}

#add_shopping_list_btn {
    padding-top: 10px;
    padding-bottom: 10px;
}

.equal .panel-default>.panel-heading:hover {
    background-color: #7D2E26;
    cursor: pointer;
}

#dashboard_shopping_list_unordered_list .list-group-item:hover {
    background-color: #e9ebee;
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.has_been_clicked {
    background-color: #d9534f;
    color: #fff;
}

.has_been_clicked:focus {
    color: #fff;
}

.clickable {
    cursor: pointer;
}

.container-fluid {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #e9ebee;
    font-size: 17px;
    letter-spacing: 1px;
}
.profile_labels {
    text-align: left !important;
}
#profile-img {
    width: 90%;
    margin: 15px;
}
#profile-footer {
    background-color: #984b43;
    color: white;
    text-align: center;
}
#profile-panel-info {
    margin-top: 10px;
}
