#profile_pic_img{
    max-width:10vw;
    position: center;
    margin-bottom: 15px;
}

.styled-heading{
    font-size: large;
    font-family: Calibri;
}

.long-scroll-panel{
    min-height: 65vh;
    max-height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.membertable{
    width: 100%;
}

.long-scroll-panel-2{
    min-height: 40vh;
    max-height: 40vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.long-scroll-panel-3{
    min-height: 30vh;
    max-height: 30vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.navbar {
    border-radius: 0;!important;
    margin-bottom: 0;!important;
}

.btn-sidebar, .sidebar, .navbar, a.navbar-brand {
    background-color: #6ad3e8;
    border-color: #6ad3e8;
    color: white;
}


.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    border-radius: 0;
}

#spacerButton:hover {
    background-color: #00415a;

}

.btn-sidebar:active {}


.page-wrapper{
    margin-top: 1%;
    max-height: 88vh;
    transition: 0.2s;

}

@media (max-width: 767px) {
    .page-wrapper {
        margin-top: 1%;
        margin-left: 1%;
    }
    .long-scroll-panel{
        max-height: 20vh;
        min-height: 20vh;
        overflow-y: scroll;
    }
}

#currentHouseholdId, #logoutId, #expandSidebarButtonId {
    color: white;
    font-size: 17px;
}

.img-circle {
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 20px;
}
.img-pic {
    min-height: 40px;
    min-width: 100%;
}
th, td {
    border-bottom: 1px solid #ddd;
    height: 50px;
    padding: 10px;
}

#add_shopping_list_btn {
    padding-top: 10px;
    padding-bottom: 10px;
}

.equal .panel-default>.panel-heading:hover {
    background-color: #0f0f0f;
    color: #f7f7f7;
    cursor: pointer;
}

#dashboard_shopping_list_unordered_list .list-group-item:hover {
    background-color: #0f0f0f;
    color: #f7f7f7;
    cursor: pointer;
}

body {
    font-family: Arial;
}
