#notifyBellId.dropdown-toggle {
    background-color: #233237;
    padding-top: 17px;
    padding-bottom: 13px;
    margin: 0;
}
#notifyBellId1.dropdown-toggle {
    background-color: #233237;
    padding-top: 3px;
    margin: 0;
}

#dropdownBell.dropdown-toggle.open {
    background-color: #233237; !important;
}
#notifyBellId {
    background-color: #233237; !important;
}

.notificationElement {
    color: #233237;
    min-height: 5.5vh;
    width: 100%;
    padding: 1vh;
    cursor: pointer;
    border-radius: 0;
    border-right: 0px;
    border-left: 0px;
}

.notificationElement:hover {
    background-color: lightgrey;
}

.notificationElement.list-group-item {
    border-radius: 0;
}

#notifyDropdownListId, #notifyDropdownListId1 {
    width: 40vh;
    border: none;
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}


.notifyMessageId {
    font-size: 1.0em;
    word-wrap: break-word;
}

.notifyDateTimeId {
    color: dimgrey;
    font-size: 0.7em;
    text-align: left;
    margin-bottom: 0;
}

.notifyHousehold {
    float: right;
    color: dimgrey;
    font-size: 1.2em;
    margin-bottom: 0;
    word-wrap: break-word;
}
