#notifyBellId.dropdown-toggle {
    background-color: #233237;
}

.notificationElement {
    color: #233237;
    height: 5.5vh;
    padding: 1vh;
    cursor: pointer;
    border-radius: 0;
}

.notificationElement:hover {
    background-color: lightgrey;
}

.notificationElement.list-group-item {
    border-radius: 0;
}

#notifyDropdownListId {
    width: 35vh;
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
}

.notifyMessageId {
    font-size: 1.0em;
    margin-bottom: 1px;
}

.notifyDateTimeId {
    color: dimgrey;
    font-size: 0.7em;
    text-align: left;
}

.notifyHousehold {
    float: right;
    color: dimgrey;
    font-size: 0.9em;
}