body {
    background-color: white;
}

html {
    overflow: hidden;
}

.divclass {
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    width: auto;
}

.navbar {
    margin-bottom: 0px;
}

#mainOpeningPageDivId {
    overflow: hidden;
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#opgbPicId {
    height: 100%;
    width: 100%;
}