#buttonDiv {
    text-align: left;
}
#head {
    overflow: auto;
}

#headline {
    float: left;
}

#edit_shopping_list_btn {
    float: right;
    margin: 10px 0;
    box-sizing: border-box;
}

#list_of_users_associated_with_shopping_list {
    display: none;
    transition: height 1.5s;
}

#edit_share_shopping_list_btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

#deleteButton {
    float: right;
}

.item-is-checked {
    text-decoration: line-through;
}