#buttonDiv {
    text-align: left;
}


#shoppingSideMenu li {
    width: 100%;
}

a {
    color: black;
}

.scrollWhenFull.SL {
   padding: 0px;
}

.scrollWhenFull.SL td, .scrollWhenFull.SL th {
    text-align: center;
}

.scrollWhenFull.SL .glyphicon-remove, .scrollWhenFull.SL .glyphicon-check {
    cursor: pointer;
}

.SL .nav-pills>li.active>a, .SL .nav-pills>li.active>a:focus {
    background-color: rgba(189, 87, 0, 0.1) !important;
    color: black;
    border-radius: 0 !important;
    width: 100%;
}

.SL .nav-pills>li>a:hover {
    background-color: rgba(189, 87, 0, 0.05) !important;
    color: black;
    border-radius: 0 !important;
    width: 100%;
    cursor: pointer;
}

#list_of_users_associated_with_shopping_list {
}

.item-is-checked {
    text-decoration: line-through;
}

#ok_new_shopping_list_btn, #share_new_shopping_list_btn {
    border-radius: 0;
}

#share_new_shopping_list_btn {
    border-radius: 0 4px 4px 0;
}

#cancel_new_shopping_list_btn {
    margin-left: 10px;
    border-radius: 4px;
}

.panel-footer{
    height: 100%;
    padding: 5px;
}

#additem, #shoppingListItemInput {
    border-radius: 0px;
    border-right: 0px;
    border-left: 0px;
    height: 45px;
}

#additem {
    background: lightgrey;
    color: black;
}

#additem:hover {
    background: grey;
}

.input-group {
    margin-bottom: 10px;
}

#emptyListText {
    text-align: center;
}

#shopping_list_white_space {
    padding: 25px 0 25px 0;
}

#addShoppinglistGlyphicon {
    padding: 0;
}

.SL {
    min-height: 78vh !important;
    max-height: 78vh !important;
    overflow: auto !important;
    border-bottom: none;
}

#associated_users_table {
   overflow: scroll;
}

#title_header {
    padding: 5px 10px;
}

.headerBtn {
    margin-right: 5px;
}

#list_of_users_wrapper table {
    width: 100%;
}

#list_of_users_wrapper {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

#edit_header, #input_header {
    padding: 5px 10px;
}

#submit_edit_btn, #ok_new_shopping_list_btn, #cancel_new_shopping_list_btn {
    margin: 0;
}

#editInputGroup, #newInputGroup {
    width: 100%;
    margin: 0;
    padding: 0;
}

.inputHolder {
    padding: 0;
}


.liTab {
    width: 50%;
    margin: 0;
    text-align: center;
}

#headline {
    margin-top: 10px;
}

#slFooter {
    border-top: none;
    background-color: white;
}

#cancel_new_shopping_list_btn {
    background-color: #d9534f;
    color: #f7f7f7;
    text-align: center;
}

#cancel_new_shopping_list_btn:hover {
    background-color: #d43f3a;
}

#ok_new_shopping_list_btn {
    background-color: #5cb85c;
    color: #f7f7f7;
    text-align: center;
    border-radius: 4px;
}

#ok_new_shopping_list_btn:hover {
    background-color: #47a447;
}