#buttonDiv {
    text-align: left;
}

#shoppingSideMenu a {
    color: black;
}

#shoppingSideMenu li {
    width: 100%;
}

#shoppingSideMenu li:hover, #shoppingSideMenu a:hover {
    background-color: #3C5158;
}

#shoppingSideMenu li:active, #shoppingSideMenu a:active {
    background-color: #3C5158;
    color: #3C5158;
}

#shoppingSideMenu a:hover {
    color: white;
}

#edit_shopping_list_btn {
    float: right;
    margin: 10px 0;
    box-sizing: border-box;
}