.panel-default>.panel-heading{
    background-color: #984b43;
    font-size: 17px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}

.widget {
    height: 100%;
    margin: 0px;
}

.row {
    height: 100%;
}



